html {
    background-image: url("../quacktice-test-gradient-background.png");
    background-color: #cccccc;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    background-color: yellow;
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar-open {
  margin: 0px;
  padding: 0px;
  background-color: #4249c6;
  border-right: 4px outset #627089;
  width: 130px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  overflow: auto;
}

.sidebar-closed {
  background-color: #282c34;
  width: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
/*  margin-top: -22px;*/
  padding-top: 0px;
}

.sidebar-icon {
  width: 40px;
  height: 40px;
/*  margin-bottom: 10px;*/
}

.dashboard-header {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  min-height: 90px;
  height: 90px;
  width: 100vw;
  /* adjust the height of the header */
/*  padding: 0 10px;*/
  position: fixed;
  z-index: 1;
}

.profile-thumbnail {
  display: flex;
  align-items: center;
}

.profile-picture {
  height: 65px;
  /* adjust the height of the profile picture */
  width: 65px;
  border-radius: 50%;
  margin-right: 10px;
  opacity: 80%;
}

.app-logo {
  height: 115px;
  /* adjust the height of the app logo */
  width: 115px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 48%);
}

.dashboard {
/*    background-color: greenyellow;*/
  display: flex;
  position: absolute;
  height: 88vh;
  width: 100%;
  margin-top: 12vh;
}

.dashboard-nav {
  display: flex;
}

.dashboard-nav-link {
  color: #fbfcfb;
  text-decoration: none;
  margin-left: 25px;
}

.dashboard-nav-link:hover {
  color: #f6ea00;
  text-decoration: none;
}

.active {
  color: #fbfcfb;
  text-decoration: none;
}

.left-section {
  color: #f6ea00;
  font-size: larger;
  display: flex;
  align-items: center;
}

.main-content {
/*    background-color: cornflowerblue;*/
    display: flex;
    flex-grow: 1;
    padding: 20px;
    padding-top: 50px;
    margin-left: 130px;
    margin-right: 130px;
    overflow: auto;
    scrollbar-color: auto;
}

/*  */

.right-section {
  color: #fafdfb;
  text-decoration: none;
  color: #fafdfb;
  display: flex;
  justify-content: space-evenly;
  width: 215px;
}

.toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: #009fe2;
  border: none;
  padding: 11px 10px;
  margin-left: -24px;
  margin-top: -10px;
  cursor: pointer;
  height: 20px;
  transform: translateY(-50%);
  z-index: 10;
}

.toggle-btn:focus {
  outline: none;
}

.sidebar {
    display: flex;
}

.nav-sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 88vh;
/*    margin-top: 12vh;*/
    overflow: auto;
}

.sidebar-nav-link {
    display: flex;
    margin-top: 40px;
}

#profile-link {
    cursor: pointer;
}