.results-containter {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 7px;
}

.quiz-view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: 7px;
}

.quiz-container {
  background: linear-gradient(rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.75));
  border-radius: 0% 1.5%;
  display: flex;
  flex-direction: row;
  aspect-ratio: 3 / 2;
  width: 90%;
  max-width: 750px;
}

.quiz-frame {
  /* background-color: #4249c6; */
  background: linear-gradient(#4249c6, #543c7b);
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0px 7px 7px 0px;
  box-sizing: border-box;
}

.duck-img {
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 130px;
    height: 130px;
    cursor: pointer;
    transition: all 0.13s ease;
}

    .duck-img:hover {
        transform: scale(1.1);
    }

        .duck-img:hover + .word-bubble {
            visibility: visible;
        }

.word-bubble {
    visibility: hidden;
    position: absolute;
    bottom: 25px;
    right: 50px;
    background-color: #eeecec;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: fit-content; /* You can adjust the width */
    z-index: 1000;
    transition: visibility 0.1322s ease;
}

.hint-bubble {
    position: absolute;
    bottom: 25px;
    right: 50px;
    background-color: #eeecec;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: fit-content; /* You can adjust the width */
    z-index: 1000;
    transition: visibility 0.1322s ease;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.question-control {
  background-color: rgb(238, 236, 236);
  width: 100%;
  height: 100%;
}

.question {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.48em;
  font-weight: 700;
  width: 100%;
  height: 100%;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 25px;
  padding-left: 0px;
}

.results {
  width: 100%;
  padding-left: 91px;
  margin-top: -30px;
  display: flex;
  justify-content: center;
}

    .results h2 {
/*        background-color: red;*/
    }

.quiz-results {
  width: 100%;
  min-width: 600px;
  max-width: fit-content;
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-top: 30px;
}

.answers-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

.answer-button {
  background-color: #4249c6;
  color: #fbfcfb;
  border: none;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.answer-button:hover {
  background-color: #627089;
}

.submit-button {
  position: absolute;
  background-color: #009fe2;
  color: #fbfcfb;
  border: none;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  top: 80%;
  z-index: 1;
}

.submit-button:hover {
  background-color: #f6ea00;
}

.result-question-container {
  background-color: #fbfcfb;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
  border: 4px solid #282c34;
  padding: 20px;
  box-sizing: border-box;
}

.result-question {
  font-size: larger;
  font-weight: bolder;
  margin-bottom: 10px;
}

.answers-list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.answer {
  display: flex;
  margin: 10px 0;
  color: #c5f1f6;
  font-size: large;
  font-weight: 600;
  width: 100%;
  height: auto;
  padding: 2px 12px;
}

.answer-left {
  flex-direction: row;
  background-color: red;
}

.right-answer-div {
  position: relative;
  color: black;
  margin-top: 50px;
  background-color: rgb(92, 236, 92);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  height: 150px;
  z-index: 101;
}

.answer-right {
  background-color: blue;
}

.answer-label {
  font-size: 16px;
}

.chosen-answer,
.correct-answer {
  font-weight: bold;
  margin-bottom: 10px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.arrow-button {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.left-arrow {
  left: -50px;
}

.right-arrow {
  right: -50px;
}